[submodule "projects/plugin-WebOfTrust"]
	path = projects/plugin-WebOfTrust
	url = https://github.com/hyphanet/plugin-WebOfTrust.git
	ignore = all
[submodule "projects/plugin-Freemail"]
	path = projects/plugin-Freemail
	url = https://github.com/hyphanet/plugin-Freemail.git
	ignore = all
[submodule "projects/plugin-Freetalk"]
	path = projects/plugin-Freetalk
	url = https://github.com/hyphanet/plugin-Freetalk.git
	ignore = all
[submodule "projects/plugin-Library"]
	path = projects/plugin-Library
	url = https://github.com/hyphanet/plugin-Library.git
	ignore = all
[submodule "projects/plugin-KeyUtils"]
	path = projects/plugin-KeyUtils
	url = https://github.com/hyphanet/plugin-KeyUtils.git
	ignore = all
[submodule "projects/plugin-FlogHelper"]
	path = projects/plugin-FlogHelper
	url = https://github.com/hyphanet/plugin-FlogHelper.git
	ignore = all
[submodule "projects/plugin-Spider"]
	path = projects/plugin-Spider
	url = https://github.com/hyphanet/plugin-Spider.git
	ignore = all
[submodule "projects/plugin-Freereader"]
	path = projects/plugin-Freereader
	url = https://github.com/hyphanet/plugin-Freereader.git
	ignore = all
[submodule "projects/plugin-UPnP"]
	path = projects/plugin-UPnP
	url = https://github.com/hyphanet/plugin-UPnP.git
	ignore = all
[submodule "projects/plugin-XMLSpider"]
	path = projects/plugin-XMLSpider
	url = https://github.com/hyphanet/plugin-XMLSpider.git
	ignore = all
[submodule "projects/plugin-XMLLibrarian"]
	path = projects/plugin-XMLLibrarian
	url = https://github.com/hyphanet/plugin-XMLLibrarian.git
	ignore = all
[submodule "projects/plugin-HelloWorld"]
	path = projects/plugin-HelloWorld
	url = https://github.com/hyphanet/plugin-HelloWorld.git
	ignore = all
[submodule "projects/plugin-JSTUN"]
	path = projects/plugin-JSTUN
	url = https://github.com/hyphanet/plugin-JSTUN.git
	ignore = all
[submodule "projects/plugin-ThawIndexBrowser"]
	path = projects/plugin-ThawIndexBrowser
	url = https://github.com/hyphanet/plugin-ThawIndexBrowser.git
	ignore = all
[submodule "projects/plugin-MDNSDiscovery"]
	path = projects/plugin-MDNSDiscovery
	url = https://github.com/hyphanet/plugin-MDNSDiscovery.git
	ignore = all
[submodule "projects/plugin-Echo"]
	path = projects/plugin-Echo
	url = https://github.com/hyphanet/plugin-Echo.git
	ignore = all
[submodule "projects/plugin-Librarian"]
	path = projects/plugin-Librarian
	url = https://github.com/hyphanet/plugin-Librarian.git
	ignore = all
[submodule "projects/plugin-HelloFCP"]
	path = projects/plugin-HelloFCP
	url = https://github.com/hyphanet/plugin-HelloFCP.git
	ignore = all
[submodule "projects/plugin-old-bookmarkplugin"]
	path = projects/plugin-old-bookmarkplugin
	url = https://github.com/hyphanet/plugin-old-bookmarkplugin.git
	ignore = all
[submodule "projects/plugin-SNMP"]
	path = projects/plugin-SNMP
	url = https://github.com/hyphanet/plugin-SNMP.git
	ignore = all
[submodule "projects/plugin-TestGallery"]
	path = projects/plugin-TestGallery
	url = https://github.com/hyphanet/plugin-TestGallery.git
	ignore = all
[submodule "projects/plugin-Freemail-v0.1"]
	path = projects/plugin-Freemail-v0.1
	url = https://github.com/hyphanet/plugin-Freemail-v0.1.git
	ignore = all
[submodule "projects/fred"]
	path = projects/fred
	url = https://github.com/hyphanet/fred.git
	ignore = all
[submodule "projects/db4o-7.4"]
	path = projects/db4o-7.4
	url = https://github.com/xor-freenet/db4o-7.4.git
	ignore = all
[submodule "projects/plugin-KeepAlive"]
	path = projects/plugin-KeepAlive
	url = https://github.com/hyphanet/plugin-KeepAlive.git
	ignore = all
[submodule "projects/plugin-sharesite"]
	path = projects/plugin-sharesite
	url = https://github.com/hyphanet/plugin-sharesite.git
	ignore = all

